* {
  font-family: "Montserrat", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}
.navbar {
  height: 4rem;
  background-color: white;
}
.fa-compass {
  font-size: 2.4rem;
}
.nav-link {
  color: #222222 !important ;
}
.f-info-links a {
  text-decoration: none;
  color: #222222;
  margin-right: 0.2rem;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info {
  background-color: gainsboro;
  display: flex;
 
  justify-content: center;
  align-items: baseline;
  vertical-align: middle;
  flex-wrap: wrap;
}
.f-info-socials,
.f-info-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.fa-square-facebook,
.fa-instagram,
.fa-linkedin {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

/* card */
.listing-link {
  text-decoration: none;
}
.card {
  border: none;
  margin-bottom: 2rem;
  border-radius: 1rem !important;
}
.card-img-top {
  border-top-right-radius: 1rem !important ;
  border-top-left-radius: 1rem !important;

  width: 100% !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0.2rem !important;
  font-family: "Montserrat", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
/* overlay */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* card show */
.card-img-top {
  height: 30vh;
}
.btns {
  display: flex;
}
.btns-1 {
  margin-right: 0.5rem !important;
}