<% layout('/layouts/boilerplate') %>
<div class="row mt-4">
  <div class="col-8 offset-2">
    <h3>Login here</h3>
    <form method="POST" action="/login" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          required
          class="form-control"
          name="username"
          type="text"
          placeholder="Username"
        />
        <div class="invalid-feedback">Add your username</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          required
          class="form-control"
          name="password"
          type="password"
          placeholder="Password"
        />
        <div class="invalid-feedback">Please add a password</div>
      </div>
      <button class="btn btn-danger mb-4">Submit</button>
    </form>
  </div>
</div>
